body {
    background-image: url("https://i.pinimg.com/originals/f3/68/a8/f368a8f642d9aa7cb6ac1d4220ff3292.jpg");
    color: rgb(223, 219, 219);
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

h1 {
    font-weight: bolder;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0 15px;
    text-align: center;
}